/* provided styles */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--violet);
}

/* import the specified fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');


/* set variables for the specified colours */

:root {
    --blue-dark: hsl(233, 47%, 7%);
    --blue-desat: hsl(244, 38%, 16%);
    --violet: hsl(277, 64%, 61%);
    --violet-overlay: hsla(277, 64%, 61%, 0.5);
    --white: hsl(0, 0%, 100%);
    --trans-white-p: hsla(0, 0%, 100%, 0.75);
    --trans-white-h: hsla(0, 0%, 100%, 0.6);
}


/* global styles */

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {
    font-size: 15px;
    background-color: var(--blue-dark);
    color: var(--trans-white-p);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}


h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: var(--white);
}


/* content styles */


/* this holds the content and the footer */
/* .wrapper {
    margin: 15em 10em;
    border: 2px solid red;
} */

.content-wrap {
    margin: 0;
    max-width: 1000px;
    min-height: 400px;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
    overflow: scroll;
    flex: 1;
}

/* 
    info section styles 
*/

.info {
    display: flex;
    flex-direction: column;
    padding: 5% 7% 5% 5%;
    background-color: var(--blue-desat);
    flex: 1 1 50%;
}

.info > * {
    padding: 10px;
}


    /* header */
.header-span {
    color: var(--violet);
    flex-basis: 25%;
}

    /* text */

.text {
    line-height: 1.6;
    flex-basis: 50%;
}

    /* stats section */

.stats-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 12.5%;
    flex-basis: 25%;
}


.stat>span {
    padding-bottom: 5px;
    color: var(--white);
    font-size: 1.2em;
    font-weight: 900;
    font-family: "Lexend Deca", sans-serif;
}

.stat>p {
    text-transform: uppercase;
    font-size: 0.8em;
    color: var(--trans-white-p);
}

/* 
    image 
*/

.image-wrap {
    object-fit: scale-down;
    overflow-x: clip;
    flex: 1 1 50%;
}

img {
    filter: brightness(30%) sepia(8) hue-rotate(230deg) saturate(750%) invert(15%);
    display: block;
    height: 100%;
    width: auto;
}


/* special styles for responsiveness */
/* media queries go here */



@media screen and (max-width: 620px) {

    .content-wrap {
        flex-direction: column;
        align-items: center;
    }

    .info > * {
        text-align: center;
    }

    .image-wrap {
        order: -1;
        /* flex: 1 2 auto; */
    }

    img {
        width: 100%;
        height: auto;
    }

    .stats-wrap {
        flex-direction: column;
        gap: 1em;
        align-items: center;
    }

    .stat {
        text-align: center;
    }
}